
grant codebase "file:./Authorization.java" {
    permission javax.security.auth.AuthPermission
        "createLoginContext.kerberos";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
    permission java.util.PropertyPermission "*", "write";
};

grant Principal javax.security.auth.kerberos.KerberosPrincipal
                    "alice@CS.UWM.EDU" {
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.io.FilePermission "src/lecture13/secret.txt", "read";
};

grant Principal javax.security.auth.kerberos.KerberosPrincipal
                    "bob/SERVICE@CS.UWM.EDU" {
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.io.FilePermission "src/lecture13/secret.txt", "read";
    permission java.io.FilePermission "src/lecture13/topsecret.txt", "read,write";
};
